.timeline {
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    clear: both;
}

.timeline-marker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5050b0;
    border: 3px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 1;
}



.timeline-content {
    margin-left: 30px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 5px;
    width: calc(50% - 60px);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #5050b0;
    z-index: 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: auto;
    margin-right: 30px;
    text-align: left;
    border-left: none;
    border-right: 5px solid #5050b0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #5050b0;
    z-index: 0;
}

.timeline-item:hover .timeline-content {
    background-color: #f5f5f5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.timeline-content h3, .timeline-content p, .timeline-content ul {
    margin: 0 0 10px;
}

.timeline-content ul {
    list-style-type: disc;
    margin-left: 20px;
    
}

.hover-popup {
    display: none;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    text-align: center;
}

.timeline-content:hover .hover-popup {
    display: block;
}


.detail-box {
    display:none;
}



@media screen and (max-width: 768px) {
    .timeline-item {
        margin: 10px ;
    }

    .timeline-marker {
        left: 10px; /* Adjust marker position */
    }

    .timeline-content {
        width: calc(100% - 90px); /* Adjust width for mobile */
        margin-left: 50px; /* Adjust margin for mobile */
        padding: 10px; /* Adjust padding for mobile */
    }

    .timeline-item:nth-child(even) .timeline-content {
        margin-left: 50px; /* Adjust margin for even items */
        margin-right: auto;
        border-right: none;
        border-left: 5px solid #5050b0;
    }

    .timeline::before {
        left: 10px; /* Adjust line position */
    }
}